.outer-list {
  padding-top: var(--spacing-large);
}

[class$="-icon"] {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  margin-right: 4px;
  margin-left: 4px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.folder-icon {
  background-image: url("assets/folder-open-regular.svg");
}

.file-icon {
  background-image: url("assets/file-regular.svg");
}

.outer-list {
  padding-left: var(--spacing-large);
}

.node-item {
  height: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-left: var(--spacing-medium);
}

.node-item:marker {
  content: "";
}
